{{outlet}}
<div class="jumbo">

  <h2>Contact Us</h2>
  <p>If you have a tip on a new Happy Hour in Chicago or would like to have your business listed please feel free to contact us below. Cheers-</p>
  <p>
    Chicago's Happiest Hours
    <address>
      2700 West Cortland St<br>
      Chicago, IL 60647
    </address>
    <a href="tel:312.213.1212">+1 (312) 213-1212</a><br>
    <a href="mailto:add.me@.happiesthour.com">add.me@.happiesthour.com</a>
  </p>

</div>